body {
    color: #256993;
    background-color: #F3E9DE;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.mynoteslist {
    list-style-type: square;
    display: list-item;
}

li {
    list-style-type: none;
    display: inline-block;
}

h1 {
    text-align: center;
}

.rightalign {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.newnote {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

textarea {
    max-width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
}

.sidebar {
    background-color: #FAF4EC;
}

.greenbuttons {
    background-color: #375F68;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.violetbutton {
    background-color: #56536A;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.redbutton {
    background-color: #9B332C;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.changefontsize {
    font-size: x-large;
}
