body {
    color: #256993;
    background-color: #F3E9DE;
    font-family: 'Montserrat', sans-serif;
}

.mynoteslist {
    list-style-type: square;
    display: list-item;
}

li {
    list-style-type: none;
    display: inline-block;
}

h1 {
    text-align: center;
}

.rightalign {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.newnote {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.textcontainer {
    display: flex;
    max-width: 1000px;
}

.textplace {
    width: 97%;
    border: blue 2px solid;
    padding: 10px;
}

footer {
    text-align: center;
}

.sidebar {
    background-color: #FAF4EC;
}

.greenbuttons {
    background-color: #375F68;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.violetbutton {
    background-color: #56536A;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.redbutton {
    background-color: #9B332C;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.changefontsize {
    font-size: x-large;
}

@media (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 10px;
        height: 100%;
    }
    body {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        height: 100vh;
    }
    footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
    }
}

.darkButton {
    background-color: #0f0070;
}

.changeSidebarTheme {
    background-color: gray;
}

.changeBodyTheme {
    background-color: rgb(41, 41, 41);
    color: white;
}